*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
body{
    background-color: #e4f2fd;
    /* height: 500px; */
    /* width: 300px; */
}
.selectMenu{
   display: flex;  
   width: 180px;
   height: 30px;
   background-color: #fff;
   align-items: center;
   justify-content: space-around;
   border-radius: 5px;

}
.checkbox{
    display:none;
}
#check{
    display: none;
}
.menu{
    /* padding: 100px 100px 100px 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background-color: #e4f2fd;
}
.socialMenu li{
   list-style: none;
   padding: 5px 0;
}
.socialMenu li:hover{
   background-color: #eaeded;
}
.socialMenu a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.socialMenu {
    width: 180px;
    /* height: 25px; */
    position: relative; 
    background-color: #fff;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 0;
    display: none;
    
}
#check:checked~.socialMenu{
    display: flex;
}